*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* --------------------------------------------  */
.text-white{
    color:white !important;
}
.clear{
    clear: both;
}
.row{
    margin: 0px -8px 0px -8px;
}
.col{
    float:left;
    padding-left: 8px;
    padding-right:8px;
}
.col-full{
    width:100%;
}
.col-third{
    width:33.33333%;
}
.col-half{
    width:50%;
}
.text-center{
    text-align: center !important;
}
.text-left{
     text-align: left !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
/* --------------------------------------------  */
#main{

}

#header{
    height:46px;
    background:black;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 999999999999;
     
}

#nav{
    display: inline-block;

}

#nav > li{
    display: inline-block;
    list-style: none;
    position: relative;
     
}

#nav > li > a{
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding:0px 24px;
    display: inline-block;
    text-transform: uppercase;

}
#nav > li:hover > a, #nav .sub-nav li:hover a{
    color:#000;
    background: #ccc;
}
     
 #nav .icon-header-dropdown{  /* icon More */
    font-size: 14px;
    margin-left: 5px;
}
 
#nav .sub-nav{
     position: absolute;
     top:100%;
     left: 0;
     background-color: white;
     box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
     display: none;
     min-width: 160px;
}
#nav .sub-nav li{
      list-style: none;
}
#nav .sub-nav li a{
     text-decoration: none;
     color:black;
     display: block;
     padding: 0px 18px;
     line-height: 38px;  
}

#nav > li:hover .sub-nav{
    display: block;
}
#header .mobile-menu-btn,
#header .search-button{
    float:right;
}
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right:0;
}
#header .mobile-menu-btn,
#header .icon-header-search{
    color:white;
    line-height: 46px;
    padding: 0px 16px;
     
}
#header .mobile-menu-btn:hover
{
    color:black;
    background-color: #ccc;
}
#header .icon-header-search:hover{
    cursor: pointer;
    background-color: #f44336;
}

/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
#slider {
    padding-top:50%;
    margin-top:46px;
    background:url('/img/slider.jpg') top center / cover no-repeat;
    position:relative;
}
 
#slider .text-content{
    position:absolute;
    width:100%;
    bottom:46px;
    text-align: center;
    color:white;
    animation: animated 1.5s infinite 3s;
     

}
@keyframes animated {   
    0%{
        color:red;
    }
    20%{
        color:yellow;
    }
    40%{
        color:green;
    }
    60%{
        color:blue;
    }
    80%{
        color:black;
    }
    100%{
        color:#ccc;
    }
    
}
#slider .text-heading{
    margin-bottom: 15px;
    font-weight: 500;
    font-size:24px;

}
#slider .text-description{
    font-size:15px;
    text-shadow: 0px 0px 1px #000;
} 
#content{

}
#content .content-section
{
    width:800px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding:64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;

}

#content .section-sub-heading{
    color:#7b7979;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
    word-spacing: 2px;
     

}
#content .about-content{
     
    margin-top: 25px;
    text-align: center;
    line-height:1.4;

}
#content .member-list{
    margin:32px;
    overflow: hidden;
}
 
 
#content .member-name{
    font-size:15px;
    font-weight: 700;
    
     

}
#content .member-img{
     margin-top:15px;
     width:154px;
     border-radius:4px;


}
.tour-section{
    background-color: black;
}
 .ticket-list{
     background-color:white;
     margin-top:40px;
     text-align: left;
 }
 .ticket-list li{
    font-size: 15px;
    padding:11px 16px;
    border-bottom: 1px solid #ccc ;
    color:#757575;
    list-style: none;
 }
 .ticket-list .sold-out{
     background-color: #f44336;
     color:#fff;
     padding:3px 4px;
     margin-left:16px;

 }
 .ticket-list .quantity{
     color:white;
     background-color: black;
     float:right;
     width:24px;
     height:24px;
     border-radius: 50px;
     text-align: center;
     line-height: 24px;
     margin-top:-3px;

 }
.places-list{
     /* Thùa hưởng cùng với .row trên cùng */
    margin-top: 16px;
}

 

.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.place-content{
    background-color: white;
    text-align: left;
    padding:16px;
    font-size: 15px;

}

.place-heading{
    font-size: 15px;
    font-weight: 600;
     
}

.place-time{
    margin-top:15px;
    color:#757575;
}

.place-desc{
    margin-top:15px;
     
}

.place-buy-btn{
    color:white;
    background-color:black ;
    text-decoration: none;
    padding:11px 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    color:black;
    background-color:#ccc;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4) ;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
.modal .modal-container{
    width:900px;
    background-color:white;
    max-width: calc(100% - 50px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;

}
.modal-close{
    position: absolute;
    padding: 8px 16px;
    opacity: 0.7;
    right: 0;
    cursor: pointer;
    color:white;
}
.modal-close:hover{
    opacity: 1;
}
 .modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
}
.modal-body {
    padding: 16px;
}
.modal-body .modal-label {
    display: block;
    font-size:15px;
    margin-bottom: 12px;
}
.modal-body .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding:10px;
    font-size: 15px ;
    margin-bottom: 24px;
}
#buy-tickets {
    width: 100%;
    padding: 18px 0px;
    background: #009688;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size:15px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding-top:16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
    
}
.modal.open{
    display: flex;
     
}

@keyframes modalFadeIn {
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;

    }
    
}
 


.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size:18px;
    line-height:1.6;
}
.contact-info a{
    color:#101aef;
    opacity: 0.8;
    
}
.contact-info a:hover{
    opacity: 1;
    
}
.contact-info i[class*="fa"]{
     width:30px;
     display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control
{
    padding:10px;
    border: 1px solid #ccc;
    width:100%;

}
.contact-form .form-submit-btn{
    background-color: black;
    color:white;
    border:1px solid #000;
    padding: 14px 16px;
    float:right;
    outline: none;
    cursor: pointer;
}
.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
     
}
.map-section img{
    width:100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;

}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
     color:rgba(0,0,0,0.6);
     text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover{
        color:rgba(0,0,0,0.4);
}
#footer .copyright
{
    margin-top: 15px;
     color:rgba(0,0,0,0.6);

}
#footer .copyright a
{
    margin-top: 15px;
     color:rgba(0,0,0,0.6);

}
